<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animales extraños</title>
</head>

<body>
    <h1>Animales extraños</h1>
    <p>Hay animales interesantes y muy poco conocidos en el mundo. Aquí puedes conocer algunos de ellos.</p>

    <h1>Ardilla gigante (Ratufa indica)</h1>
    <p>La ardilla malabar o ardilla gigante india (Ratufa indica) es una especie de roedor esciuromorfo de la familia
        Sciuridae propia de las selvas del subcontinente indio. Los adultos de esta especie llegan a medir más de un
        metro y a pesar unos dos kilos.</p>
    <a href="https://en.wikipedia.org/wiki/Indian_giant_squirrel">ver más información</a>

    <h1>Delfín rosado (Inia geoffrensis)</h1>
    <p>Es el delfín de río más grande; el peso de los machos adultos llega a los 185 kg y pueden medir hasta 2,5 m. Como
        carácter distintivo, los adultos adquieren un color rosado, más acentuado en los machos.</p>
    <a href="https://es.wikipedia.org/wiki/Inia_geoffrensis">ver más información</a>

    <h1>Ave del paraíso soberbia (Lophorina suberba)</h1>
    <p>Mide aproximadamente 26 cm. Es una especie que exhibe un dimorfismo sexual muy fuerte. El macho tiene la
        coronilla y el pecho azules, mientras el resto del cuerpo es negro. La hembra es de un color parduzco.</p>
    <a href="https://es.wikipedia.org/wiki/Lophorina_superba">ver más información</a>

    <h1>Panda rojo(Ailurus fulgens)</h1>
    <p> Vive generalmente en los bosques templados húmedos de zonas altas y con abundante bambú. Su pelaje es de color
        pardo rojizo con la cola larga y peluda. Sus extremidades delanteras son bastante cortas, por lo que tiene una
        peculiar forma de caminar. Es un animal de carácter solitario, territorial y de costumbres nocturnas. Son
        omnívoros, aunque se alimentan principalmente de bambú. </p>
    <a href="https://es.wikipedia.org/wiki/Ailurus_fulgens">ver más información</a>
</body>

</html>